<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> </title>
</head>
<body>
<h1>  Register </h1>
    <form id = "register" method = "post" action = "/">
	<input id = "username" name = "username" type="text" , placeholder="Your name..."/>
    <input id = "password" name = "password" type="text" , placeholder="Your password..."/>
	    <input id = "passwordConf" name = "passwordConf" type="text" , placeholder="Your password..."/>

    <input id = "submit" type="submit" />
</form>

<h1>  Login </h1>
    <form id = "register" method = "post" action = "/">
	<input id = "loginName" name = "loginName" type="text" , placeholder="Your name..."/>
    <input id = "loginPassword" name = "loginPassword" type="text" , placeholder="Your password..."/>
    <input id = "submit" type="submit" />
</form>

</body>
</html>